.header {
  max-width: 1200px;
  height: 100px;
  background-color: goldenrod;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
}

.gnb {
  max-width: 600px;
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
  color: #fff;
}
