@import "val";
@import "mixins";

.wrap {
  position: relative;
  @include flex-center;
  width: $width-screen;
  .notice {
    width: $pc-screen;
    ul {
      li {
        @include flex-center;
        @include boder-fn("red");
        background-color: $color-bg;
      }
    }
  }
  .slide {
    @include flex-center;
    width: $mb-screen;
  }
  .banner {
    @include flex-center;
    width: $mb-screen;
  }
}
